<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="2.0">
    <persistence-unit name="alabastia-petclinic" transaction-type="RESOURCE_LOCAL">

        <class>com.alabastia.petclinic.entity.AlabastiaVisit</class>
        <class>com.alabastia.petclinic.entity.TreatmentRoom</class>
        <class>com.alabastia.petclinic.entity.DefaultTreatmentRoom</class>
    </persistence-unit>
</persistence>
